* {
    list-style: none; /* list 숫자나 표시 none */
    text-decoration: none;  /* 링크 기본 설정 none */
    border-collapse: collapse; /* 테이블 테두리 병합 */
    margin: 0px;
    padding: 0px;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    
}

h1 {
    font-size: 48px;
    font-weight: 100;
}

.contents1 {
    font-size: 20px;
    font-weight: lighter;
}

.contents1_bold {
    font-size: 18px;
    font-weight: bold;
}

.contents3 { 
    font-size: 14px;
    font-weight: 100;
}

.result {
    font-size: 24px;

}

input:focus {
    outline:none;
}


.intro_bg {
    background-image: url("images/intro.png") ;
    width: 100%;
    height: 718px;
}

.header {
    display:flex;
    width: 1280px;
    margin: auto;
    height:86px;
    
}

.search_area {
    width: 300px;
    height: 40px;
    margin-top: 24px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}

.search_area > form > input {
    border: none;
    width: 250px;
    height: 40px;
    background: rgba(0,0,0,0);
    color: #fff;
    padding-left:10px;
    
}

.search_area > form > span {
    width: 50px;
    color: #fff;
    font-weight: bold;
    cursor : pointer;
}
.nav {
    display:flex;
    justify-content: flex-end;
    line-height: 86px;
    width:calc(1280px - 300px);
    
    
    
}

.nav > li{
    margin-left: 84px;
}

.nav > li > a {
    color: #fff;
}

.intro_text {
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;
    
}

.intro_text > h1,
.intro_text > h4 {
    color : #fff;

}

.amount {
    position: relative;
    top: -66px;
    display: flex;
    width: 1280px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background-color: white;
    

}

.amount > li {
    flex: 1;
    height: 132px;
    
}

.amount > li > div {
    height: 57px;
    margin-top:37px;
    text-align: center;
    
}

.amount > li:not(:last-child) > div{
    border-right: 1px solid #E1E1E1;
}

/* main_text0 */

.main_text0 {
    width: 100%;
    height: 601px;
    margin-top: -132px;
    background-color: #f1f2f3;


}

.main_text0 > h1 {
    text-align: center;
    padding-top: 116px;
    
}
.main_text0 > .contents1 {
    text-align: center;
}

.icons {
    display: flex;
    width:1280px;
    margin: auto;
    background-color:#f1f2f3;
}

.icons > li {
    flex: 1;
    height: 302px;
    margin-top:49px;
    background-color: white;
    text-align: center;
    
}

.icons > li:not(:last-child) {
    margin-right: 20.67px;

}

.icons .icon_img {

    margin-top:18px;
    
}

.icons .contents3{
    width:224px;
    margin:auto;
    padding-top:8px;
    letter-spacing: -0.5px;
}

.more {
    width:100px;
    height: 30px;
    margin: 25px auto;
    background-color:#2F7AF4;
    color:#fff;
    line-height: 30px;
    font-size:12px;
    border-radius: 5px;
    cursor:pointer;
    
}

/* main_text1 */

.main_text1 {
    width: 100%;
    height: 659px;
    background-color: #f1f2f3;
}


.main_text1 > h1 {
    text-align: center;
    padding-top: 50px;
    
}

.main_text1 > .contents1 {
    text-align: center;
}

.service {
    width: 1280px;
    height: 427px;
    margin : 49px auto;
    display: flex;
    background-color: #f1f2f3;
}

.contents2 > h2 {
    margin-bottom: 27px;
}

.service > .contents2 {
    padding-left: 20px;
}

/* main_text2 */

.main_text2 {
    
    width:100%;
    height:418px;
    background-image: url(./images/contact.png);
}

.main_text2 > ul {
    display:flex;
    padding-top: 138px;

}

.main_text2 > ul >li {
    flex: 1;
    text-align: center;
    
}


.main_text2 > ul > li > div { 
    color:white;
}

.main_text2 > ul > li > h1 {
    color: white;
}

li > .more2 {
    width:220px;
    height:40px;
    margin: 20px auto;
    line-height: 40px;
    border: 1px solid white;
    cursor: pointer;
    
    
}

footer {
    width:100%;
    height:244px;
    display: flex;
}

footer > div:first-child {
    flex:1;
    background-color: #1F1F1F;
}

footer > div > h1 {
    margin: 95px auto;
    color: white;
    text-align: center;
    
}

footer > div:last-child {
    flex:2;
    background-color: #1F1F1F;
}

footer > div > .contents1 {
    margin : 50px auto;
    color: white;

}